[Desktop Entry]
Version=1.0
Type=Application
Name=Echoes
Name[zh_CN]=回响
Comment=Music player
Comment[zh_CN]=音乐播放器
Exec=/opt/echoes/echoes
TryExec=/opt/echoes/echoes
Icon=echoes
Terminal=false
StartupNotify=true
StartupWMClass=com.az1n.echoes
Categories=AudioVideo;Audio;Player;
DBusActivatable=false
